<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Wordpress Selenium Test" verbose="1">
    <test name="All Tests">
        <classes>
            <class name="TestFooter" />
            <class name="TestHomepage" />
            <class name="TestMenu" />
            <class name="TestPostFooter" />
            <class name="TestPostMenu" />
            <class name="TestPostSidebar" />
            <class name="TestPostSidebarLinks" />
            <class name="TestPostSubmenus" />
            <class name="TestSubmenus" />
            <class name="TestSidebar" />
            <class name="TestSearch" />
            <class name="TestSidebarLinks" />
        </classes>
    </test>
</suite>
