<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Wordpress Selenium Test" verbose="1">
    <test name="All Tests">
        <classes>
            <class name="TestHomepage" />
            <class name="TestMenu" />
            <class name="TestSubmenus" />
        </classes>
    </test>
</suite>
